* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #4B527E;
}
#header {
    background-color: #4B527E;
}
.menu .menuLista {
list-style-type: none;
text-align: center;
}
.menuLista li {
    display: inline;
    margin-right: 20px;

}
.menuLista li a {
    font-weight: bold;
    color: #2E4374;
    text-decoration: none;
    font-size: 20px; 
}
#header .menuRedes {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 20px;
    display: flex;
    gap: 20px;
    padding: 7px 10px;
}
.menuRedes a {
    color: #E5C3A6;
    text-decoration: none;
    width: 30px;
    font-weight: bold;
}

.container {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #2E4374;
}
.container h1, p {
    font-size: 50px;
    color: #2E4374;
    font-family: 'Roboto Condensed', sans-serif;   
}

.detalle-contenido h2 {
    color: #E5C3A6;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    padding:20px;
}
.detalle-contenido p {
    color: #2E4374;
    font-size: 20px;
}
.etica h2{
    font-size: 30px;
    color: #2E4374;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
}
.etica p{
    font-size: 15px;
    color: #7C81AD;
    font-family: 'Roboto Condensed', sans-serif
}
.detalle-contenido h3 {
    color: #E5C3A6;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    padding:20px
}
label, input, textarea, select {
    display: block;
    margin-bottom: 30px;
    font-family:'Nunito Sans', sans-serif;
    font-size: 20px;
}
#header .navbar a {
    color: #E5C3A6;
    font-weight: bold;;
}
#header .navbar li {
    color: #1a214e;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;  
}
.navbar ul {
    padding-right: 50px;
    gap: 20px;
    margin-right:10px;
}
main #imagen-pcipal {
    width: 100%;
    height: auto;
}
main #imagen-pcipal img {
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Sombra suave */
    border-radius: 10px; /* Redondeo de bordes */
    filter: brightness(70%) sepia(20%); /* Ajusta los valores según tu preferencia */
}

.container {
    width: 100%;
    height: auto;
    padding: 50px;
}

.container h1 {
    color: #E5C3A6;
    font-weight: bold;
    font-size: 4em;
    font-family: 'Nunito Sans';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #ccc;
    padding: 20px;
}
main {
    background-color:#4B527E;
}
.container p {
    color: #E5C3A6;
    font-size: 2em;
    font-family: 'Nunito Sans';
    margin-top: 30px;
}
.estrategia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.estrategia h2 {
    color: #2E4374;
    font-size: 2.5em;
    font-family: 'Nunito Sans';
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    background-color: #7C81AD;
    display: inline-block;
    border: 2px solid #2E4374;
    border-radius: 9px;
    padding: 20px;

}
.pilares {
    display: flex;
    padding: 10px;
    gap: 50px;
    justify-content: space-around;
    align-items: stretch;
    padding: 30px;
    flex-wrap: wrap;
}

.pilares .pilares-item {
    width: 300px;
    height: auto;
    text-align: center;
    margin-top: 30px;
    color: #E5C3A6;
    background-color: #7C81AD;
    border: 3px solid #2E4374;
    border-radius: 10px;
    margin-bottom: 50px;
}

.pilares .pilares-item img {
    width: 100%;
    height: auto;
    border: transparent solid 2px;
    border-radius: 9px;

}
.pilares .pilares-item h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-style: italic;
    color: #2E4374;
}
.pilares .pilares-item p {
    color: #2E4374;
    font-size: 1em;
    margin-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.footer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-top: 7px solid #1a214e;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    gap: 40px;
    background-color: #1a214e;
}
.footer  .otros-datos a {
    text-decoration: none;
    color: #4B527E;
}
.footer .logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans';
}

.footer .logo img {
    width: 150px;
}

.footer h4 {
    color: #2E4374;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Nunito Sans';
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.footer .otros-datos p {
    color: #4B527E;
    font-size: 1em;
    font-family: 'Nunito Sans';
    font-weight: bold;
    text-align: center;
}

.footer .menu-redes {
    text-align: center;
}

.footer .menu-redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #4B527E;
  line-height: 45px;
  margin-right: 10px;
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
}





/* MEDIA QUERIES */
@media (max-width: 990px) {
    #header .menuRedes {
        display: none;
    }

    .navbar ul {
        padding-top: 15px;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 2em;
    }

    .container p {
        font-size: 1.3em;
    }

    .pilares .pilares-item p {
        font-size: 0.9em;
    }

    .pilares .pilares-item h3 {
        font-size: 1em;
    }

    .estrategia h2 {
        font-size: 1.5em;
    }

    .pilares {
        gap: 0;
        padding: 0;
    }
}

@media (max-width: 800px) {
    .footer,
    .footer .otros-datos p {
        grid-template-columns: 1fr;
        font-size: 1em;
    }

    .footer h4 {
        font-size: 1.5em;
    }
}
