//* Tamaño de fuentes *//
$f-grande: 4em;
$f-med: 2.5em;
$f-med1: 2em;
$f-med2: 1.5em;
$f-med3: 1.3em;
$f-chi: 1em;
$f-chi1: 0.9em;

//* Colores a utilizar *//
$color-fondo:#4B527E;
$color-fondo1:#7C81AD;
$color-fondo2:#1a214e;
$color-letras: #E5C3A6;
$color-letras1: #2E4374;


