@charset "UTF-8";
/* Reseteo de css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apartado HEADER */
#header {
  background-color: #4B527E;
}
#header .navbar ul {
  padding-right: 50px;
  gap: 20px;
  margin-right: 10px;
}
#header .navbar ul li {
  color: #1a214e;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}
#header .navbar ul li:hover {
  background-color: #7C81AD;
  border-radius: 9px;
}
#header .navbar ul li a {
  color: #E5C3A6;
  font-weight: bold;
}
#header .menuRedes {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 20px;
  display: flex;
  gap: 20px;
  padding: 7px 10px;
}
#header .menuRedes a {
  color: #E5C3A6;
  text-decoration: none;
  width: 30px;
  font-weight: bold;
}

/* Apartado FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  border-top: 7px solid #1a214e;
  width: 100%;
  margin: auto;
  padding-top: 50px;
  gap: 40px;
  background-color: #1a214e;
}
.footer .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans";
}
.footer .logo img {
  width: 150px;
}
.footer .otros-datos {
  color: #E5C3A6;
  font-size: 1em;
  font-family: "Nunito Sans";
  font-weight: bold;
  text-align: center;
}
.footer .otros-datos a {
  text-decoration: none;
  color: #E5C3A6;
}
.footer .menu-redes {
  text-align: center;
}
.footer .menu-redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #E5C3A6;
  line-height: 45px;
  margin-right: 10px;
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
}
.footer h4 {
  color: #E5C3A6;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Nunito Sans";
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Cuerpo sitio web */
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #4B527E;
}

main {
  background-color: #4B527E;
}
main #imagen-pcipal {
  width: 100%;
  height: auto;
}
main #imagen-pcipal img {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  filter: brightness(70%) sepia(20%);
}
main .contenedor {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  bottom: 0;
  color: #2E4374;
}
main .contenedor h1 {
  color: #E5C3A6;
  font-weight: bold;
  font-size: 4em;
  font-family: "Nunito Sans";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #E5C3A6;
  padding: 20px;
}
main .contenedor p {
  color: #E5C3A6;
  font-size: 2em;
  font-family: "Nunito Sans";
  margin-top: 30px;
}

/* PAGE INICIO */
.estrategia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.estrategia h2 {
  color: #2E4374;
  font-size: 2.5em;
  font-family: "Nunito Sans";
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #7C81AD;
  display: inline-block;
  border: 2px solid #2E4374;
  border-radius: 9px;
  padding: 20px;
}

.pilares {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 50px;
  align-items: stretch;
  padding: 30px;
  flex-wrap: wrap;
}
.pilares .pilares-item {
  width: 300px;
  height: auto;
  text-align: center;
  margin-top: 30px;
  color: #E5C3A6;
  background-color: #7C81AD;
  border: 3px solid #2E4374;
  border-radius: 10px;
  margin-bottom: 50px;
}
.pilares .pilares-item img {
  width: 100%;
  height: auto;
  border: transparent solid 2px;
  border-radius: 100px;
}
.pilares .pilares-item h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
  font-style: italic;
  color: #2E4374;
  font-weight: bold;
}
.pilares .pilares-item p {
  margin: 20px;
  font-weight: bold;
}

/* OTRAS PAGES */
.titulo-sec {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  bottom: 0;
  color: #2E4374;
}
.titulo-sec h1 {
  color: #E5C3A6;
  font-weight: bold;
  font-size: 4em;
  font-family: "Nunito Sans";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #E5C3A6;
  padding: 20px;
}
.titulo-sec p {
  color: #E5C3A6;
  font-size: 2em;
  font-family: "Nunito Sans";
  margin-top: 30px;
}

/* PAGE SERVICIO */
.row .col {
  text-align: left;
  gap: 20px;
  padding: 30px;
  margin-top: 20px;
}
.row .col:hover {
  background-color: #7C81AD;
  border-radius: 9px;
  width: 300px;
}
.row .col h2 {
  color: #2E4374;
  font-family: "Nunito Sans";
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #7C81AD;
  display: inline-block;
  border: 2px solid #2E4374;
  border-radius: 9px;
  padding: 20px;
}
.row .col p {
  padding: 3px;
  color: #E5C3A6;
  font-weight: bold;
}

/* PAGE CASOS DE ÉXITO */
.empresas {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: stretch;
  padding: 30px;
  flex-wrap: wrap;
}
.empresas .empresas-item {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 30px;
  color: #E5C3A6;
  background-color: #7C81AD;
  border: 3px solid #2E4374;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.empresas .empresas-item .empresa-img {
  flex: 0 0 auto;
  position: relative;
}
.empresas .empresas-item .empresa-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #7C81AD, transparent);
  opacity: 0.9;
}
.empresas .empresas-item .empresa-img img {
  margin: 10px;
  width: 150px;
  height: auto;
  border: transparent solid 2px;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
.empresas .empresas-item .empresa-img:hover img {
  transform: scale(1.05);
}
.empresas .empresas-item .empresa-texto {
  flex: 1;
  padding: 10px;
}
.empresas .empresas-item .empresa-texto p {
  text-align: left;
}

/* PAGE EQUIPO */
.etica {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.etica .etica-item {
  border: 3px solid #2E4374;
  background-color: #7C81AD;
}
.etica .etica-item h2 {
  color: #1a214e;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.etica .etica-item p {
  color: #2E4374;
  margin-left: 10px;
}

.equipo {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: stretch;
  padding: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.equipo .equipo-item {
  width: 400px;
  margin-top: 30px;
  color: #E5C3A6;
  background-color: #7C81AD;
  border: 4px solid #2E4374;
  border-radius: 10px;
  margin-bottom: 50px;
  flex-direction: column;
}
.equipo .equipo-item img {
  width: 100%;
  border-radius: 3px;
  border: 4px solid #2E4374;
  transition: transform 0.3s ease;
}
.equipo .equipo-item:hover img {
  transform: scale(1.05);
}
.equipo .equipo-item h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  color: #2E4374;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.equipo .equipo-item p {
  margin-left: 15px;
  color: #2E4374;
}
.equipo .equipo-item a {
  text-decoration: none;
  margin-left: 15px;
  color: #2E4374;
  font-size: 1.5em;
  margin-top: 15px;
}
.equipo .equipo-item a:hover {
  background-color: #4B527E;
  border-radius: 2px;
}

/* PAGE CONTACTO */
.formulario {
  margin-top: 50px;
  margin-bottom: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.formulario .formulario-item {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
}
.formulario .formulario-item label {
  font-size: 2em;
  margin-bottom: 8px;
  color: #E5C3A6;
  font-weight: bold;
  font-size: 1.3em;
}
.formulario .formulario-item input, .formulario .formulario-item textarea, .formulario .formulario-item select {
  padding: 10px;
  border: 2px solid #1a214e;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.formulario .formulario-item input:focus, .formulario .formulario-item textarea:focus, .formulario .formulario-item select:focus {
  background-color: #7C81AD;
  font-weight: bold;
  color: #E5C3A6;
}
.formulario .formulario-item-msj {
  grid-column: 1/3;
  margin-left: 30px;
  margin-right: 30px;
}
.formulario .formulario-item-msj label {
  font-size: 2em;
  margin-bottom: 8px;
  color: #E5C3A6;
  font-weight: bold;
  font-size: 1.3em;
}
.formulario .formulario-item-msj #mensaje {
  width: 100%;
  padding: 10px;
  border: 2px solid #1a214e;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.formulario .formulario-item-msj textarea {
  transition: all 0.3s ease;
}
.formulario .formulario-item-msj textarea:focus {
  background-color: #7C81AD;
  font-weight: bold;
  color: #E5C3A6;
}
.formulario .boton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  grid-column: 1/3;
}
.formulario .boton input {
  padding: 12px;
  background-color: #1a214e;
  color: #E5C3A6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (max-width: 990px) {
  #header .menuRedes {
    display: none;
  }
  .navbar ul {
    padding-top: 15px;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  main .contenedor h1 {
    font-size: 2em;
  }
  main .contenedor p {
    font-size: 1.3em;
  }
  .titulo-sec h1 {
    font-size: 2em;
  }
  .titulo-sec p {
    font-size: 1.3em;
  }
  .empresas .empresas-item {
    display: block;
  }
  .empresas .empresas-item .empresa-texto p {
    text-align: center;
  }
  .etica {
    display: block;
  }
  .pilares .pilares-item p {
    font-size: 0.9em;
  }
  .pilares .pilares-item h3 {
    font-size: 1em;
  }
  .estrategia h2 {
    font-size: 1.5em;
  }
  .pilares {
    gap: 0;
    padding: 0;
  }
  .formulario {
    grid-template-columns: 1fr;
  }
  .formulario .formulario-item label {
    font-size: 1em;
  }
  .formulario .formulario-item-msj {
    grid-column: 1/2;
  }
  .formulario .formulario-item-msj label {
    font-size: 1em;
  }
  .formulario .boton {
    grid-column: 1/2;
  }
}
@media (max-width: 800px) {
  .footer,
  .footer .otros-datos p {
    grid-template-columns: 1fr;
    font-size: 1em;
  }
  .footer h4 {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=main.css.map */